<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white;">BookStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: white;" routerLink="/book-list">Show Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" routerLink="/add-book">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text" style="color: white;"> 
        Developed For Book Lovers
      </span>
    </div>
  </div>
</nav>
<div class="" style=" background-color: aqua;">
  <div class="container " style=" padding: 20px 0px 40px 20px; background-color: aqua;">
    <h1 class="display-4" >Angular 15 BookStore Unsing MEAN Stack </h1>
    <p class="nav-item">Read what you want, when you want…!</p>
  </div>
</div>
<router-outlet></router-outlet>